<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!doctype html>
        <html class="no-js" lang="en">

        <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cloud Native DevOps</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" href="css/nalika-icon.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .logging-container {
            padding: 10px;
            min-height: 100vh;
            background-color: #152135;
            color: white;
            margin-top: 30px;

        }

        .logging-box {
            background-color: #1a2b47;
        }

        .logging-progress-box {
            padding: 10px;
        }

        .logging-table-box {
            padding: 10px;
        }

        #progress {
            transition: width 1.6s;
        }
    </style>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <h2>Cloud Native<br><span class="min-dtn">DevOps</span></h2>
        </div>
        <div class="nalika-profile">
            <div class="profile-dtl">
                <i class="icon nalika-user nalika-user-rounded header-riht-inf" aria-hidden="true"></i>
                <h2>Manager <span class="min-dtn">DevOps</span></h2>
            </div>

        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="http://board.hanium-devops.site:8080">
                            <i class="icon nalika-home icon-wrap"></i>
                            <span class="mini-click-non">HOME</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="https://github.com/DevOps-StudyRoom/helloworld" target="_blank">
                            <i class="fa big-icon fa-tag icon-wrap"></i>
                            <span class="mini-click-non">Git Hub</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="https://jenkins.hanium-devops.site/" target="_blank">
                            <i class="fa big-icon fa-recycle icon-wrap"></i>
                            <span class="mini-click-non">Source Build</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="https://core.hanium-devops.site/harbor/projects/2/repositories/helloworld" target="_blank">
                            <i class="fa big-icon fa-tag icon-wrap"></i>
                            <span class="mini-click-non">Image Registry</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="https://3.34.203.172:30080" target="_blank">
                            <i class="fa big-icon fa-recycle icon-wrap"></i>
                            <span class="mini-click-non">Deploy</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="https://grafana.hanium-devops.site/login" target="_blank">
                            <i class="fa big-icon fa-desktop icon-wrap"></i>
                            <span class="mini-click-non">System Monitoring</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="http://board.hanium-devops.site:8080/logging" target="_blank">
                            <i class="fa big-icon fa-info-circle icon-wrap"></i>
                            <span class="mini-click-non">Log Collector</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="has-arrow" href="https://kibana.hanium-devops.site/app/discover#" target="_blank">
                            <i class="fa big-icon fa-pie-chart icon-wrap"></i>
                            <span class="mini-click-non">Log Tracing</span>
                        </a>
                    </li>
                    <!-- li class="active">
                        <a class="has-arrow" href="http://board.hanium-devops.site:8080/monitoring" target="_blank">
                            <i class="fa big-icon fa-info-circle icon-wrap"></i>
                            <span class="mini-click-non">Pod Monitoring</span>
                        </a>
                    </li -->
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="http://board.hanium-devops.site:8080"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="icon nalika-menu-task"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
                                                <input type="text" placeholder="Search..." class="form-control">
                                                <a href=""><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item dropdown">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-mail nalika-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                    <div class="message-single-top">
                                                        <h1>Message</h1>
                                                    </div>
                                                    <ul class="message-menu">
                                                        <li>
                                                            <a href="#">
                                                                <div class="message-img">
                                                                    <img src="img/contact/1.jpg" alt="">
                                                                </div>
                                                                <div class="message-content">
                                                                    <span class="message-date"></span>
                                                                    <h2>Manager</h2>
                                                                    <p>클라우드 네이티브 기반 데브옵스 시스템을 오픈하였습니다.</p>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                    <div class="message-view">
                                                        <a href="#">View All Messages</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-alarm" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                    <div class="notification-single-top">
                                                        <h1>Notifications</h1>
                                                    </div>
                                                    <ul class="notification-menu">
                                                        <li>
                                                            <a href="#">
                                                                <div class="notification-icon">
                                                                    <i class="icon nalika-tick" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="notification-content">
                                                                    <span class="notification-date"></span>
                                                                    <h2>System Manager</h2>
                                                                    <p>HelloWorld 프로젝트의 마이크로서비스가 배포되어 있습니다.</p>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                    <div class="notification-view">
                                                        <a href="#">View All Notification</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                    <i class="icon nalika-user nalika-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                    <span class="admin-name">Manager</span>
                                                    <i class="icon nalika-down-arrow nalika-angle-dw nalika-icon"></i>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">

                                                    <li><a href="login.html"><span class="icon nalika-unlocked author-log-ic"></span> Log Out</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item nav-setting-open"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-menu-task"></i></a>


                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li class="active">
                                        <a class="has-arrow" href="http://board.hanium-devops.site:8080">
                                            <i class="icon nalika-home icon-wrap"></i>
                                            <span class="mini-click-non">HOME</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="https://github.com/DevOps-StudyRoom/helloworld" target="_blank">
                                            <i class="fa big-icon fa-tag icon-wrap"></i>
                                            <span class="mini-click-non">Git Hub</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="https://jenkins.hanium-devops.site/" target="_blank">
                                            <i class="fa big-icon fa-recycle icon-wrap"></i>
                                            <span class="mini-click-non">Source Build</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="https://core.hanium-devops.site/harbor/projects/2/repositories/helloworld" target="_blank">
                                            <i class="fa big-icon fa-tag icon-wrap"></i>
                                            <span class="mini-click-non">Image Registry</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="https://3.34.203.172:30080" target="_blank">
                                            <i class="fa big-icon fa-recycle icon-wrap"></i>
                                            <span class="mini-click-non">Deploy</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="https://grafana.hanium-devops.site/login" target="_blank">
                                            <i class="fa big-icon fa-desktop icon-wrap"></i>
                                            <span class="mini-click-non">System Monitoring</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="http://board.hanium-devops.site:8080/logging" target="_blank">
                                            <i class="fa big-icon fa-info-circle icon-wrap"></i>
                                            <span class="mini-click-non">Log Collector</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a class="has-arrow" href="https://kibana.hanium-devops.site/app/discover#" target="_blank">
                                            <i class="fa big-icon fa-pie-chart icon-wrap"></i>
                                            <span class="mini-click-non">Log Tracing</span>
                                        </a>
                                    </li>
                                    <!-- li class="active">
                                        <a class="has-arrow" href="http://board.hanium-devops.site:8080/monitoring" target="_blank">
                                            <i class="fa big-icon fa-desktop icon-wrap"></i>
                                            <span class="mini-click-non">Pod Monitoring</span>
                                        </a>
                                    </li -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <i class="icon nalika-home"></i>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Cloud Native Application : Log Collector</h2>
                                            <p>실시간 애플리케이션 로그를 노출합니다</p>
                                            <div>
                                                <div class="logging-container" style="width: 100%;">
                                                    <div class="logging-box">

                                                        <div class="logging-progress-box">
                                                            <div>
                                                                <h3 style="display: inline">최신 로그</h3>
                                                                <p style="display: inline">2초마다 Refresh 됩니다</p>
                                                            </div>
                                                            <div class="progress">
                                                                <div id="progress" class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>

                                                        <div class="logging-table-box">
                                                            <table class="table">
                                                                <thead id="data-head">
                                                                <th>시간</th>
                                                                <th>컨테이너 이름</th>
                                                                <th>로그</th>
                                                                </thead>
                                                                <tbody id="data-cell">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-status mg-b-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Project List</h4>
                        <table>
                            <tr>
                                <th>Status</th>
                                <th>Project Title</th>
                                <th>Project Description</th>
                                <th>Info(Manual)</th>
                            </tr>
                            <tr>
                                <td>
                                    <button class="pd-setting" onclick="javascript:alert('프로젝트가 선택되었습니다. \n 좌측 메뉴를 이용해서 확인이 가능합니다.')">Active</button>
                                </td>
                                <td>클라우드 네이티브 마이크로서비스</td>
                                <td>한이음 공모전 출품 프로젝트로 소스코드 빌드에 배포, 모니터링 연결</td>
                                <td>
                                    <button data-toggle="tooltip" data-placement="left" title="Download Manual" class="btn"><i class="icon nalika-download"></i></button>
                                </td>
                            </tr>

                            <!-- <tr>
                                <td>
                                </td>
                                <td>To Be Defined</td>
                                <td>미진행 프로젝트</td>
                                <td>
                                    <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </td>
                            </tr> -->


                        </table>
                        <!-- <div class="custom-pagination">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2021 <a href="https://colorlib.com/wp/templates/">클라우드네이티브 데브옵스</a> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery
    ============================================ -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="js/metisMenu/metisMenu.min.js"></script>
<script src="js/metisMenu/metisMenu-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<script src="js/sparkline/jquery.charts-sparkline.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="js/calendar/moment.min.js"></script>
<script src="js/calendar/fullcalendar.min.js"></script>
<script src="js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const makeTd = (something) => {
        return "<td>" + something + "</td>";
    }

    const makeTr = (source) => {
        return "<tr>" + makeTd(source['@timestamp']) + makeTd(source.kubernetes.container_name) + makeTd(source.log) + "</tr>";
    }

    const makeHtml = (sources) => {
        return sources.map((source) => makeTr(source));
    }

    const getEsLog = () => {
        axios.get('/es/log')
            .then((res) => {
                const sources = res.data.hits.hits.map(item => item['_source']);
                const html = makeHtml(sources);
                $('#data-cell').html(html)


                $('#progress').css('transition', 'width 1.6s');
                $('#progress').css('width', '100%');
            });

        $('#progress').css('transition', 'width 0s');
        $('#progress').css('width', '0%');
    }

    $('#progress').css('width', '100%');
    setInterval(getEsLog, 2000);
</script>
</body>

</html>