#L4
apiVersion: v1
kind: Service
metadata:
  name: nginx-nlb
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-subnets: <subent-id>,  <subent-id>
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:ap-northeast-2:{{root}}:certificate/{{arn}}
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing

spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30011
    - protocol: TCP
      port: 443
      targetPort: 80
      nodePort: 30012
  type: LoadBalancer
---
#L7
apiVersion: extensions/v1
kind: Ingress
metadata:
  name: "external-ingress"
  labels:
    app.kubernetes.io/name: "external-ingress"
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internal or internet-facing 
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/subnets: <subent-id>,<subent-id>
    alb.ingress.kubernetes.io/target-type: instance
    alb.ingress.kubernetes.io/security-groups: <SG-id>
    alb.ingress.kubernetes.io/certificate-arn: Certificate Manger?˜ ?¸ì¦ì„œ arn
    alb.ingress.kubernetes.io/actions.redirect-to-https: >
      {"Type":"redirect","RedirectConfig":{"Port":"443","Protocol":"HTTPS","StatusCode":"HTTP_302"}}
    alb.ingress.kubernetes.io/actions.redirect-www: >
      {"Type": "redirect", "RedirectConfig": { "Host": "www.coinone.co.kr", "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}
    
 
spec:
  rules:
    - host: 
      http:
        paths:
          - path: /*
            backend:
              serviceName: <service-name>
              servicePort: 80
    - host: 
      http:
        paths:
          - path: /*
            backend:
              serviceName: <service-name>
              servicePort: 80